* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 60px;
}


.titulo_pestaña {
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: aqua;
}

header {
    background-image: url(../Assets/design1_image1.jpg);
    background-repeat: no-repeat;
    height: 35vh;
    background-position-y: -23vh;
    width: 100%;
}

.title {
    text-align: center;
    border-style: solid black;
    background-color: aqua;
}

nav>a {
    display: block;
    padding: 15px;
    font-size: 20px;

}

.logo {
    position: absolute;
    margin-top: 22vh;
    margin-left: 80%;
    width: 150px;

}
.logo-about{
    position: absolute;
    margin-top: 28vh;
    margin-left: 80%;
    width: 180px;
}
.logo-contact{
    position: absolute;
    margin-top: 28vh;
    margin-left: 80%;
    width: 180px;
}
    
nav,
section {
    display: inline-block;
}

article {
    padding-left: 15vw;
    font-size: 20px;
    margin: 15px;
}

h2 {
    width: 100%;
}

dl,
ol {
    padding: 10px;
    padding-left: 70px;
    padding-right: 25vw;
}

.title_rules {
    text-align: center;
}

nav {
    width: 20%;
}

.flex-container {
    width: 80%;
}

nav,
.flex-container {
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
}