*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color:lightslategray;
}
header{
    background-image: url(./Assets/design1_image1.jpg);
    background-position: center;
}
nav a{
    display: block;
}